.cabeçalho_menu-humburger{
    width: 24px;
    height: 24px; 
    background-image: url(../Ing/Menu.svg); 
    background-repeat:no-repeat; 
    background-position:center;
    display: inline-block;
}

.cabeçalho{
    background-color:var(--branco);
    display: flex;
    Justify-content:space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagen{
    padding: 1em;
}